
.nav-link{
    
    padding:15px;
    display: flex;
    justify-content: center;
    gap: 40px;
 position: sticky;
top: 0;
background: rgba(37, 99, 235, 0.85);
padding: 15px;
z-index: 1000;
opacity: 20;

}

.nav-link a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.nav-link :hover{
     transform: translateY(-5px);
}

section{
    margin-top: 60px;
}


.kotika-foto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
    border: 5px solid black;
    position: relative;
   
    display: inline-block;
    background-color: wheat;
}


.nama-kotika{
    text-align: center;
    margin-top: 10px;
}


.foto-pembuat{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: 4px solid black;
    display: block;
    margin: auto;
}

.pembuat{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    background: ;
}


.card{
    text-align: center;
    padding: 2rem;
    background: white; 
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 320px;
}

.card:hover{
    transform: translateY(-5px);
}


.text{
    background: none;
}


section p{
    text-align: center;
}

.text-kelompok-4{
    text-align: center;
}

.pertama{
    

color: white;
border-radius:15px;
height: 500px;
}

.home{
    text-align: center;
    
}

.pp{
   color: #374151;
}

body{
    background: linear-gradient(to right, #2563eb, #60a5fa);
}

.section-pembuat{
background: linear-gradient(
to right,
rgba(37, 99, 235, 0.85),
rgba(96, 165, 250, 0.85)
);
}

.section-prestasi{
background: linear-gradient(to right, #f8fafc, #e2e8f0);
border-radius: 15px;
padding: 30px;
box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
